

.card{
    border-radius: 5px;
    background-color: whitesmoke;
    border-color: grey;
    margin: 25px;
}

.card-footer{
    font-size: 12px;
    justify-content: center;
    margin: 5px;
}

.card-header{
    background-color: lightblue;
    font-weight: 500;
    padding: 10px
}