.rfq{
    background-color: lightblue;
}
.card{
    border-radius: 5px;
    background-color: whitesmoke;
    text-align: center;
    margin: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.card-footer{
    font-size: 12px;
    justify-content: left;
    padding:3px;
}
.card-header{
    border-radius: 5px;
    justify-content: center;
    background-color: lightblue;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    padding: 10px
}
.centered{
    justify-content: center;
    text-align: center;
}
.del{
    background-color: transparent;
    color: rgb(218, 23, 23);
    font-family: 'Heebo', sans-serif;
}
.is-small{
    font-family: 'Heebo', sans-serif;
}
.subtext{
    color: whitesmoke;
}

@media screen and (max-width: 1025px)  {

    .banner{
        margin-top:15px;
    }
}