.banner{
    background-color: lightblue;
    border-radius: 5px;
    color: rgb(55, 54, 109);
    font-family: 'Heebo', sans-serif;
    padding-top:10px;
    padding-bottom: 10px;
}

.label{
    font-family: 'Heebo', sans-serif;
}

.left-pad{
    padding-left: 50px;
}

p{
    color: rgb(55, 54, 109);
}
